<div class="container">
  <%= simple_form_for([@restaurant, @review]) do |f| %>
    <%= f.error_notification %>

    <%= f.input :content %>
    <%= f.input :rating, collection: Review::RATINGS, prompt: "Select a rating", selected: 1 %>


    <%= f.button :submit %>
  <% end %>
</div>
